extends layout

block content
  h1= title
  -let results=[{brand:"Puma",cost:18,color:"pink"},{brand:"Lewis",cost:33,color:"blue"},{brand:"CK",cost:88,color:"black"}]
    
    div(class="container-fluid")
    div(class="row")
        each item,index in results
            div(class="col-sm-2" onclick=`buy(${index})`)
                p brand:  #{item.brand} 
                p cost: #{item.cost}
                p color: #{item.color}
    script.
      function buy(index)
      {
        alert(`You purchased item ${index+1}.`)
      }
